
@{
    ViewBag.Title = "privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Privacy</title>
    <style>
        body {
            background-color: #fbfffd;
        }
        h2 {
            text-align: center;
        }
        p {
            font-family: courier;
            font-size: 120%;
            border: 0px solid powderblue;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h2>Tookup Privacy</h2>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <p>
                    <b>Tookup Communications</b>, and its subsidiaries, affiliates, and parent companies is committed
                    to protecting your privacy and ensuring you have a positive experience when you use our video
                    conferencing and communication services (the “Services”), visit our webpages, interact with
                    us on social media, or attend a Tookup sponsored event offline or online.
                </p><p>
                    This Statement explains Tookup practices when we process your “personal data,” which is
                    information that relates to an identified or identifiable individual. To “process” or
                    “processing” means any use of personal data including, transferring, collecting, recording,
                    storing, using, analyzing, combining, disclosing or deleting it.
                </p><p>
                    This Statement may be updated periodically. If we plan to make any material changes to the
                    way we handle personal data as described here, we will notify you by posting an updated
                    version of this Statement on our website. Changes to this Statement are summarized in our Log.
                    We may supplement this Statement with “just-in-time” notices, or other disclosures contained
                    within or in connection with the provision of the Services, which may describe in more detail
                    our data collection, use and sharing practices. Unless we say otherwise, such supplemental
                    privacy statements will govern how we may process the information in the context of the
                    specific product or service.
                </p>
            </div>
        </div>
    </div>
</body>
</html>