
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="http://tookup.in/Scripts/rtc_main.js"></script>
</head>
<body>
    <div></div>
</body>
</html>
<script src="http://tookup.in/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        connect();
    });
</script>